/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/eng-tel.autobil.bin
/eng-tel.autogen.hfst
/eng-tel.automorf.bin
/eng-tel.lrx.bin
/eng-tel.mode
/eng-tel.rlx.bin
/eng-tel.t1x.bin
/eng-tel.t2x.bin
/eng-tel.t3x.bin
/install-sh
/missing
/modes
/tel-eng.autobil.bin
/tel-eng.autogen.bin
/tel-eng.automorf.hfst
/tel-eng.lrx.bin
/tel-eng.mode
/tel-eng.rlx.bin
/tel-eng.t1x.bin
/tel-eng.t2x.bin
/tel-eng.t3x.bin
